html {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border:2px solid white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    
}
table tr td{
    text-align: center;
    border: 2px solid white;
    min-width: 40px;
    min-height: 20px;
    padding: 2px 4px;
}
#key{
    text-transform: uppercase;
}